body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #ac5aff;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.avatar {
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.avatar:hover {
    transform: scale(1.1);
}

.avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.avatar p {
    margin: 5px 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}


/* Style the navbar header */
.navbar {
    background-color: #ac5aff;
    /* Set background color */
    padding: 10px 20px;
    /* Add padding to the header */
    border-radius: 25px;
}

/* Style the navigation links */
.navbar nav a {
    color: white;
    /* Set default text color */
    text-decoration: none;
    /* Remove underline */
    margin-right: 25px;
    /* Add spacing between links */
    transition: all 0.3s ease;
    /* Add transition effect for smooth hover */
    font-size: 20px;
}

/* Style the logo */
.navbar nav .logo {
    height: 100px;
    /* Set logo height */
    vertical-align: middle;
    /* Align logo vertically */
    margin-right: 20px;
    /* Add spacing between logo and links */
    border-radius: 25px;
}

/* Hover effect for navigation links */
.navbar nav a:hover {
    border-radius: 4rem;
    background-color: #6f93ff;
    /* Set background color on hover */
    color: #09d2e1;
    /* Set text color on hover */
    transform: translateY(-3px);
    /* Move the link up by 3px on hover */
    padding: 5px;
}

#gameLogo {
    width: 250px;
    border-radius: 25px;
}

footer {
    background-color: #ac5aff;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.socials {
    font-size: 25px;
}