
#map { height: 250px;
   }

/* Contactformulier sectie */
#contact-form {
    padding: 50px;
    text-align: center;
}

#contact-form h2 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
}
